@font-face {
    font-family: Archer;
    src: url(/Users/KellyFJames/Documents/Test Site/fonts/Archer-Book-Pro.otf);
    
}

html {
	min-height: 100%;
	position: relative;
}

body {
  padding: 0;
  min-height: 100%;

}

#background-image {
  background-image:url('http://i1216.photobucket.com/albums/dd370/kjames1581/splashbg.jpg');
  background-size: cover;
  min-height: 100%;
  width: 100%;
  min-width: 1024px;
  height: auto;
  position: fixed;
  background-repeat: no-repeat;
  opacity: .4;
  top: 0;
  left: 0;

}


.splash h1 {
	width: 750px;
	color: rgb( 46, 53, 49 );
	font-family: archer, georgia, serif;
	font-weight: 300;
	font-size: 2em;
	word-spacing: 3px;
	letter-spacing: 3px;
	position: relative;
	top: 240px;
	left: 26%;

}
  
 

#js-rotating {

	font-family: open sans, arial, sans-serif;
	font-weight: 500;
	font-size: .8em;
	color: rgb( 46, 53, 49 );
	width: 100%;
	text-transform: lowercase;
	letter-spacing: 3px;
	position: relative;

}



#splash-text {

	font-family: georgia, serif;
	font-size: 1.1em;
	font-style: italic;
	text-align: center;
	line-height: 10px;
	color: rgb( 80, 81, 81 );
	position: relative;
	top: 240px;
	left: 0;
	right: 0;

}


#email-wrapper {

	border-radius: 5px;
	background-color: rgb( 255, 245, 221 );
	box-shadow: 0.5px 0.866px 10px 0px rgb( 4, 5, 5 );
	width: 536px;
	height: 82px;
	position: relative;
	top: 260px;
	margin-right: auto;
	margin-left: auto;
	

}

 
/* Mailchimp CSS */


#mce-EMAIL {
	
	width: 345px;
  	height: 46px;
	border-radius: 3px;
	font-family: georgia, serif;
	font-size:1.1em;
	color:rgb( 122, 117, 105 );
	font-style: italic;
	background-color: rgb( 205, 197, 179 );
	box-shadow: 0.5px 0.866px 0px 0px rgb( 255, 255, 255 );
	box-shadow: inset 0px 0px 5px rgba(0,0,0,0.5);
	display: inline-block;
	position: absolute;
	top: 20%;
	left: 3%;
	
}

.button {
	background-image: url('http://i1216.photobucket.com/albums/dd370/kjames1581/butoon_03.png');
	height: 49px;
	width: 142px;
	position: absolute;
	top: 20%;
	right: 4%;
}

.button:hover {

	cursor: pointer;
}



/* End Mailchimp CSS */


.social {
	
	text-align: center;
	position: relative;
	top: 270px;

}

.social p {
	font-family: georgia, serif;
	line-height: 10px;
	color: rgb( 80, 81, 81 );
	font-size: 1em;
	font-style: italic;
	

}


#social-text {
	font-weight: 600;

}



#facebook {
	position: relative;
	top: -65px;
	left: 150px;
	
}



.footer {

  background-color: rgb( 149, 177, 161 );
  min-width: 1024;
  width: 100%;
  height: 60px;
  position: absolute;
  left: 0;
  bottom: 0; 

}



.footer ul {
	list-style: none;
	display: inline-block;

}

.footer li {
	display: inline-block;
	text-decoration: none;
	
	
}


.footer a {
	text-decoration: none;
	color: #231f20;
}

.footer a:visited {
	text-decoration: none;
	color: #231f20;

}


#copyright {

	font-family: open sans, arial, sans-serif;
	font-size: .8em;
	color: #231f20;
	font-weight: normal;
	position: relative;
	margin-left: 10%;
	


}

#bottom-nav {
	font-family: open sans, arial, sans-serif;
	color: #231f20;
	font-size: .8em;
	font-weight: 400;
	font-weight: bold;
	position: relative;
	margin-left: 50%;

}
	

/* iPhone 5 portrait and landscape */

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {

/* STYLES GO HERE */}


/* iphone 2g, 3g, 4, 4s */

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

 	.splash h1 {

 	font-size: 2.5em;
 	width: 375px;
 	font-family: archer, georgia, serif;
 	text-align: center;
 	position: relative;
 	top: 140px;

 	}

 	#js-rotating {

	font-family: open sans, arial, sans-serif;
	font-weight: 500;
	font-size: 2em;
	color: rgb( 46, 53, 49 );
	width: 600px;
	text-transform: lowercase;
	text-align: center;
	letter-spacing: 3px;
	position: absolute;
	top: 100px;
	margin-right: -20px;



 }
}

 /* ipad */

 @media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  {

 /* STYLES GO HERE */}





